.animate-1s {
  animation: 1s show ease;
}
.animate-2s {
  animation: 2s show ease;
}
.animate-3s {
  animation: 3s show ease;
}
.animate-4s {
  animation: 4s show ease;
}
.animate-5s {
  animation: 5s show ease;
}
.animate-6s {
  animation: 6s show ease;
}
.animate-7s {
  animation: 7s show ease;
}
.animate-8s {
  animation: 8s show ease;
}
.animate-9s {
  animation: 9s show ease;
}
.animate-10s {
  animation: 10s show ease;
}
.animate-11s {
  animation: 11s show ease;
}
.animate-12s {
  animation: 12s show ease;
}
.animate-13s {
  animation: 13s show ease;
}
.animate-14s {
  animation: 14s show ease;
}
.animate-15s {
  animation: 15s show ease;
}
.animate-16s {
  animation: 16s show ease;
}
.animate-17s {
  animation: 17s show ease;
}
.animate-18s {
  animation: 18s show ease;
}
.animate-19s {
  animation: 19s show ease;
}
