@import "../../../theme/palette";

:host {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  height: 100vh;
  overflow-x: auto;
  background-color: $background-color;
}
