:host {
  display:block;
  width:100px;
  height:100px;
  cursor:pointer;
  background:url(../../../assets/images/sk-logo.png) 50% 50% no-repeat;
  background-size:100px 100px
}

@keyframes blink {
  50% {
    background:url(../../../assets/images/sk-logo-blink.png) 50% 50% no-repeat;
    background-size:100px 100px
  }
}
:host{
  animation: blink 1s step-start 0s infinite;
}
